$colorBlue: #3c8fe9;
$colorWhite: #fff;
$colorRed: #ec2d3f;
$colorMediumRed: #cc2c32;
$colorDarkRed: #c31829;
$colorGreen: #28a745;
$colorDarkGreen: #207d36;
$colorBlack: #212529;
$colorGray: #6c757d;
$backgroundStatic: #ec2d3f;
$backgroundHover: #ec2d3f;
$colorStatic: #000;
$colorHover: #ec2d3f;

$colorOrangceMain: #fa9e1b;
$colorScrollBar: linear-gradient(-45deg, #6a5af9, #d66efd);
$colorGradientMain: linear-gradient(to right, #fa9e1b, #8d4fff);
